* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 200px;
    color: #222;
    background-color: #FEFDFD;
    font-family: Arial, Helvetica, sans-serif;
}

.titlediv {
    background-color: rgba(255, 137, 46, 0.22);
    padding: 3em 5em;
}

.postdiv {
    display: grid;
    grid-template-columns: [firstcol] 1fr 1fr [middlecol] 1fr 1fr [seclastcol] 1fr [lastcol];
    grid-template-rows: [firstrow] 1fr 1fr [middlerow] 1fr 1fr 1fr [lastrow];
    margin-bottom: 40px;
}

.postimgframe {
    grid-column-start: firstcol;
    grid-column-end: middlecol;
    grid-row-start: firstrow;
    grid-row-end: lastrow;
    display:flex;
    justify-content: center;
}

.postimg {
    max-height: 300px;
    max-width: 50%;
}

.posttitle {
    grid-column-start: middlecol;
    grid-column-end: seclastcol;
    grid-row-start: firstrow;
    grid-row-end: middlerow;
    display: flex;
    align-items: flex-end;
}

.postcontent {
    grid-column-start: middlecol;
    grid-column-end: seclastcol;
    grid-row-start: middlerow;
    grid-row-end: lastrow;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #000010;
    text-decoration: none;
}

a:link, a:hover {
    border: 0.1em solid black;
    border-radius: 10%;
}

a:link {   
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.2em;
}

a:hover {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0em;    
}

a:visited {

}

a:active {
    background-color: #F0F0F0;
}

h1, h2 {
    color:#FF872E;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 0em;
    padding-bottom: 0.6em;
    margin: 20px auto;
}

h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

p {
    line-height: 1.5em;
}